<div class="register-container">
  <div class="register-box">
    <h2>Create an Account</h2>

    <%= form_with model: resource, url: registration_path(resource_name), class: "register-form" do |form| %>
      <div class="form-group">
        <%= form.label :name, "Name" %>
        <%= form.text_field :name, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.email_field :email, autofocus: true, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= form.label :password %> <small>(ต้องมีอย่างน้อย 6 ตัวอักษร)</small><br>
        <%= form.password_field :password, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= form.label :password_confirmation, "Confirm Password" %>
        <%= form.password_field :password_confirmation, class: "form-control", required: true %>
      </div>

      <%= form.submit "Sign up", class: "btn-register" %>
    <% end %>

    <p class="login-link">
      Already have an account?
      <%= link_to "Login", new_user_session_path, class: "login-button" %>
    </p>
  </div>
</div>
